HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/logs/
/web/logs/documentum/
/web/documentum/
/documentum/
/trace.log
log4j.log
/web/logs/vd-test.log
/web/trace.log
/web/logs/*
/data-dfc-dir/
/tmp/
/web/tmp/
/web/logs/


### VS Code ###
.vscode/


# Spring Boot specific
target/
build/
*.jar
*.war
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Eclipse specific
.classpath
.project
.settings/

# Maven specific
mvnw
mvnw.cmd
target/
release/
*.log

# Gradle specific
.gradle/
build/
bin/

# Operating System Files
.DS_Store
Thumbs.db
